
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

a,a:hover{
  text-decoration: none;

}

 


.navbar{
  background: black;
}

.nav-link{
  color: #b0b0b0;;
  margin-left: 15px;
  font-size: 20px;
}





.banner-section{
  width: 100%;
  background: url(../img/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.banner-section .content{
  height: 80vh;
  display: table-cell;
  vertical-align: middle;
}

.banner-section .content h1{
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.banner-section .content h1 span{
  color: orange;
  font-weight: 400;
}

.banner-section .content h2{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  padding-right: 200px;
}

.banner-section .content .line{
  width: 76px;
  height: 4px;
  background: #fff;
  margin: 33px 0px;
}

.banner-section .content p{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  padding-right: 214px;
}

 .banner-section .btn-primary {
  background: transparent;
  border-radius: 0px;
  border: 2px solid white;
  padding: 10px 25px;
  margin-top: 25px;
  margin-left: 0px;
}

.banner-section .btn-primary :hover{
  background: #f18537;
  border-color:#f18537;
}




.main-form{
  height: 80vh;
  display: table-cell;
  vertical-align: middle;
}

.main-form .card{

}

.main-form .form-group{
  margin-top: 30px;!important;
  margin-bottom: 25px;!important;
  padding: 0px 20px;
}

.main-form .form-group .form-control{
  border: none;
  outline: 0;
  border-bottom: 1px solid #e9c2c2;
  border-radius: 0;
}

.first{
  margin-top: 0; !important;
}

.card-body{
  margin-top: 0px;
  padding-top: 0px;
}

.card-header h3{
  font-size:20px ;
  text-transform: capitalize;
  color: #000;
  font-weight: 700;
}

.card-header h3 span{
  color:orangered;
}

.get-btn{
  border: none;
  background: transparent;
  color: white;
}

.card-footer{
  background: #ff9b52;
}

.part-2{
  margin-top: 20px;
  margin-left: 40px;
}

.part-2 .col-lg-8 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 110px;
    background-color: gray;
    color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;

}

.part-2 .col-lg-8 ul li a{ 
  text-decoration: none;
}

.part-2 .col-lg-8 ul li a i{
  font-size: 30px;
  color: white;
}

.part-3{
  margin-top: 110px;
  margin-bottom: 110px;

}


.part-3 .col-lg-7 h3{
 margin-left: 50px;

}

.part-3 .col-lg-7 p{
 margin-left: 50px;

}

.part-3 .col-lg-7 .btn-warning{
  margin-left: 50px;
}

.part-3 .col-lg-5{
 
}
.part-4{
  margin-top: 90px;
  margin-bottom: 90px;

}

.part-4 .col-lg-6 .h2{
    font-family: 'Raleway', sans-serif;

}

.part-4 .col-lg-6 .line{
  width: 76px;
  height: 4px;
  background: orange;
  margin: 33px 0px;
}


.part-5{
  margin-top: 90px;
  margin-bottom: 90px;

}

.part-5 .col-lg-6 .h2{
    font-family: 'Raleway', sans-serif;

}

.part-5 .col-lg-6 .line{
  width: 76px;
  height: 4px;
  background: orange;
  margin: 33px 0px;
}

.icon-part{
  margin-top: 30px;

}
.icon-part ul{

}

.icon-part ul li{

}
.icon-part ul li i{

}

.icon-part ul li i span{
margin-top: 90px; 

}

.icon-part ul p{
  margin-right: 50px;
  
}

/*  Awesome css code start */
.awesome-section{
    width: 100%;
    padding: 100px 0px;
    text-align: center;
}
.awesome-section .title{
    text-align: center;
}
.awesome-section .title h4{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
}
.awesome-section .title .line{
    width: 66px;
    height: 2px;
    background: #ff8b38;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.awesome-section .title p{
    font-size: 14px;
}
.awesome-section .icon-box{
    width: 100%;
    display: flex;
}
.awesome-section .icon-box .icon-box-inner{
    display: flex;
}

.awesome-section .icon-box .icon-box-inner .icon i{
    font-size: 26px;
    border: 2px solid #ff8b38;
    background: transparent;
    color: #ff8b38;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    line-height: 56px;
    margin: 80px 0px 20px;
}
.awesome-section .icon-box .icon-box-inner .list{
}
.awesome-section .icon-box .icon-box-inner .list h4{
    margin-top: 15px;
    padding: 0px 30px;
    
    font-size: 20px;
    font-weight: 700;

}
.awesome-section .icon-box .icon-box-inner .list p{
    padding: 21px 30px 40px;
    font-size: 14px;
}
/*  Awesome css code end */

.Pricing-section{
  width: 100%;
  padding: 80px 0px;
  background: #f5f5f5;

}

.Pricing-section .title{
  text-align: center !important;
}

.Pricing-section .title h2{
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: #212121;
  font-weight: 400;
  margin-bottom: 20px;
 

}

.Pricing-section .title h2 span{
  
}

.Pricing-section .title .line{
  width: 80px;
  height: 3px;
  background: orange;
  margin: auto;
}

.Pricing-section .title p{
  font-family: 'Raleway', sans-serif;
  font-size:16px;
  font-weight: 400;
 color: #a99292;
 margin-top: 20px;
}



.table{
  background:#f5f5f5;

 
}
.price-table{

  align-items: flex-end;
  padding: 15px;

}
.price-table .p-header{
 padding: 20px;
 margin: 0;
 background: #333333;
 text-align: center;
 border-bottom: 2px solid #fff;
}


.price-table .p-header h4{
  color: #fff;
  font-size: 20px;
}

.p-body {
  padding: 22px;
  background: #333333;
  text-align: center;
   border-bottom: 6px solid #ff8b38;
}

.p-body h2{
  font-size: 94px;
  font-family: 'Raleway';
  color: white;
  font-weight: 700;
}
.p-body h2 span{
  font-size: 34px;
  font-family: 'Raleway';
}


.p-body p{
  font-size:16px;
  font-weight: 600;
 color: #a7a7a7;
 font-style: italic;
}

.p-footer{
  text-align: center;
  background: white;
}

.p-footer ul{
  margin: 0;
  padding: 0;
}

.p-footer ul li{
  list-style: none;
  padding: 12px;
  border-bottom: 1px solid #e0cccc;
  text-transform: uppercase;
}

.p-footer ul li:nth-child(6){
  border-bottom: 0px !important;
}

.bnone{
  border-bottom: 0px !important;
}

.pkg{
  font-size:16px;
  font-weight: 700;
 color: white;
 background:#ff8b38 ;
 padding: 10px 0px;
 text-align: center;
 text-transform: uppercase;
}

.Reviews{
     width: 100%;
    padding: 80px 0px;
    background: #fff;
    margin-top: 40px;
}

.Reviews .title{
  text-align: center;
}

.Reviews .title h4{
      font-size: 38px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
}

.Reviews  .line{
  
   width: 80px;
  height: 3px;
  background: orange;
  margin: auto;
}

.Reviews .title p{
  font-size: 14px;
  font-weight: 600;
  color: #a7a7a7;
  text-transform: inherit;
  font-style: italic;
  margin-top: 20px;

}

.Reviews .r-box{

}
.Reviews .text{
  margin-top: 20px;
  background: #f5f5f5;
  margin-right: 50px;
  padding: 15px 10px 15px 20px;
  position: relative;
  margin-bottom: 35px;

}

.Reviews .text p{
 font-style: italic;
 font-size: 14px;
 color: #a7a7a7;
 text-transform: inherit;
 padding-right: 37px;
}

.Reviews .arrow{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: -10px;
  background: #f5f5f5;
  transform: rotate(45deg);
}


.stylish{
  width: 100%;
  background: url(../img/5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}


.stylish .content{
  height: 70vh;
  display: table-cell;
  text-align: center;
  margin: auto;
}

.stylish .content h2{
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  margin-top: 40px;
  padding-left: 300px;

}

.stylish  .line{
  width: 76px;
  height: 4px;
  background: #fff;
  margin-left: 500px;
  margin-top: 20px;

}
.stylish .content p{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  padding-left: 340px;
  margin-top: 20px;
  color: #a7a7a7;

}
.btn-primary{
  background: transparent;
  border-radius: 0;
  border: 2px solid white;
  padding: 10px 25px;
  margin-top: 25px;
  margin-left: 320px;
}

.btn-primary:hover{
  background: #f18537;
  border-color:#f18537 ;
}



.contact{
    width: 100%;
    padding: 80px 0px;
    margin-top: 40px;
}

.Contact .cmt{
text-align: center;
 
}

.Contact .cmt h2{
  font-size: 40px;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  margin-top: 80px;

}

.Contact .line{
  width: 76px;
  height: 4px;
  background: orange;
  margin: auto;
  margin-top: 20px;
}

.Contact .cmt p{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #a7a7a7;
  font-weight: 400;
  margin-top: 20px;

}


.table-part{
  margin-top: 20px;
  width: 100%;
}

.table-part ul{
  margin: 0;
  padding: 0;
}

.table-part .table-list ul li{
  list-style: none;
  color: #a7a7a7;
  text-align: start;
  padding: 20px;
  border-bottom: 1px solid #e4e4e4;
  text-transform: capitalize;

}

.table-part .table-list2 ul li{
  list-style: none;
  color: #a7a7a7;
  text-align: start;
  padding: 20px;
  border-bottom: 1px solid #e4e4e4;
  text-transform: capitalize;
  height: 66px;

}

.table-part .table-list2 ul li:nth-child(1){
  border-bottom: 0px !important;
}

.table-part .table-list2 ul li:nth-child(2){
  border-bottom: 0px !important;
}


.dnl .btn-primary{
  background: orange;
  border-radius:2px;
  border: 2px solid orange;
  padding: 10px 46px;
  margin-top: 26px;
  margin-left: 551px;
  color: white;

}


.last-section{
 background:black ;
 margin-top: 80px;
 margin-bottom: auto;

}

.last-section .footer{

}

.last-section .footer ul{
  text-align: center;


}
.last-section .footer ul li{
    font-size: 30px;
    list-style: none;
    display: inline-block;
    margin-right: 50px;

  }

.last-section .footer ul li i{
  color: #cccccc;


}

.last-section .footer .pr p{
  text-align: center;
  font-family: 'Open sens', sans-serif;
  font-size: 14px;
  color: #a7a7a7;
  font-weight: 310;
  margin-bottom: 11px;
}
